.navbarDark{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height : 4vh;
}

.logoDark{
    color: silver;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}