.body {
  height: 100vh;
  color: black;
  width: 100vw;
  display: flex;
}

.image {
  height: 100vh;
  width: 100vw;
}

.heading {
  position: absolute;
  top: 90px;
  left: 150px;
  font-size: 45px;
  font-weight: bold;
}

.try {
  position: absolute;
  top: 150px;
  font-size: 24px;
  left: 160px;
  font-weight: 600;
}

.methods {
  position: absolute;
  top: 190px;
  font-size: 21px;
  left: 200px;
  font-weight: 500;
}

.error {
  position: absolute;
  top: 260px;
  font-size: 23px;
  left: 150px;
  font-weight: 700;
}

/* .wifi {
  position: absolute;
  top: 300px;
  font-size: 20px;
  left: 600px;
  font-weight: 700;
  height: 300px;
  width: 300px;
  border-radius: 50%;
} */