.body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.image {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.text {
  background: transparent;
  backdrop-filter: blur(20px);
  border-radius: 5px;
  border: none;
  padding: 40px;
  box-shadow: 0 0 10px 0 rgb(116, 116, 116);
  position: absolute;
  top: 90px;
  letter-spacing: 1px;
  left: 40px;
  z-index: 1000;
  color: black;
  min-height: 250px;
  min-width: 400px;
}

.heading {
  margin-bottom: 15px;
  font-size: 45px;
  font-weight: bold;
}

.try {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.methods {
  margin-left: 30px;
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 15px;
}

.error {
  font-size: 23px;
  font-weight: 700;
}