.image{
    height: 95vh;
}

.text{
    font-weight: bold;
    text-align: center;
    margin-left: 150px;
    margin-top: -50px;
}

.text p{
    margin: 10px 0;
    transition: all 0.3s ease;
}

.body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: silver;
}
.homeButton {
    color: silver;
    background-color: black;
    border: none;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.spaceShip{
    position: absolute;
    width : 100px;
    background: transparent;
    cursor: pointer;
    transition: all 5s ease;
    transform: translateY(0);
}

.spaceShipActive{
    transform: translateY(-1000px);
}

.textBlur{
    color:black
}

.againBefore{
    color: black;
}

.again{
    color: silver;
    cursor: pointer;
    scale: 5;
    transform: translateY(-100px);
}