.sideComponent{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.profile {
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.5s ease; /* Add this line */
}

.profile:hover{
    transform: scale(1.2);
}

.navbarButtonsDark{
    background: none;
    align-items: center;
    border : none;
    color: silver;
    margin: 0 1.2vw;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
}

.navbarButtonsDark:hover{
    background-color: white;
    color: black;
    transform: translateY(-4px);
}

.profileTextDark {
    color : silver;
    font-weight: bold;
    transition: all 0.5s ease-out;
    position: absolute;
    right : 100px;
}

.loginDark {
    background-color: black;
    color: silver;
    font-weight: bold;
    font-size: 20px;
    background-color: none;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.loginDark:hover {
    transform: translateY(-4px);
}

